MONGO_URI="mongodb://user:pass@host:port/database?options"
PORT=3000
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET="your-super-secret-access-token-key"
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET="your-super-secret-refresh-token-key"
REFRESH_TOKEN_EXPIRY=10d

MAILTRAP_SMTP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_SMTP_PORT="2525"
MAILTRAP_SMTP_USER="your-mailtrap-user"
MAILTRAP_SMTP_PASS="your-mailtrap-pass"